body {
  font-family: Arial;
  margin: 40px;
  background-color: #3B60E4;
}

h1 {
  color: #EC4067;
}

p {
  color: #F7F7FF;
}
h2{
  color:#58A4B0;
}

header, footer {
  text-align: center;
  padding: 10px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 8px;
  color:#EC4067;
}
